anndata
leidenalg
manhole
numpy
pandas
pyyaml
requests
scanpy==1.9.6
scipy
muon
mudata
git+https://github.com/hubmapconsortium/mofapy2.git
tables
git+https://github.com/hubmapconsortium/fastq-utils@v0.2.3
